*{                                          /* Remove browser defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;                 /* Box Model */
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.button_primary{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );

    color: #ffff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.container{                                         /* Global */
    max-width: 100%;                                /* For mobile devices */
    padding: 0 20px;                                /* padding: top,bottom left,right */
    margin: 0 auto;
}

.navbar{
    display: flex;
    align-items: center;                            /* Get logo and order in same line */
    justify-content: space-around;                 /* Gives space between the logo and order button */
    background-color: #ffff;
}

.navbar_brand{
    width: 100px;
}

.navbar_logo{
    width: 100%;
}

.nav_item{                                              /* Order Button */
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );

    color: #ffff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.nav_item:hover{
    border: 2px solid #dd2476;
}

.hero_image_container{
    width: 100%;
}

.hero_image{
    width: 100%;
    box-shadow: 0 25px 50px -5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.hero_text{
    font-size: 30px;
    margin: 20px 0px;
}

.explore_menu_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.food_card{
    background-color: white;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food_card_image_container{
    width: 100%;
}

.food_image{
    width: 100%;
    border-radius: 8px 8px 0px 0px;                         /* border-radius: top right bottom left */
}

.food_card_description{
    padding: 15px;
}

/* .food_card_description{
    background-color: white;
}
 */
@media (min-width: 765px) {                         /* Media query for tab */
    
    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
    .hero_container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .explore_menu_lists{
        display: flex;
        gap: 15px;
        margin-top: 40px;
    }
    #pizza{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .explore_menu_view_more{
        display: flex;
        justify-content: center;
    }
    .explore_menu_lists{
        gap: 40px;
        padding: 0 30px;
    }
    .explore_menu_content{
        position: relative;
    }
    .explore_menu_gradient_bg{
        position: absolute;                         /* Parent is explore_menu_content */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
        );

        transform: skewY(-5deg);                    /* Makes the parallelogram */
        z-index: -3;                                /* negetive z-index puts it behind the card */
    }
}

@media (min-width: 1020px){                         /* Media query for laptop screen */
    .container{
        max-width: 1200px;
    }
    .navbar_brand{
        width: 150px;
    }
    .button_primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero_description{
        width: 100%;
    }
    .hero_text{
        font-size: 35px;
    }
    .explore_menu_text{
        font-size: 50px;
    }
}
