*{                                          /* Remove browser defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;                 /* Box Model */
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.button_primary{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );

    color: #ffff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.container{                                         /* Global */
    max-width: 100%;                                /* For mobile devices */
    padding: 0 20px;                                /* padding: top,bottom left,right */
    margin: 0 auto;
}

.navbar{
    height: 50px;
    display: flex;
    align-items: center;                            /* Get logo and order in same line */
    justify-content: space-around;                 /* Gives space between the logo and order button */
    background-color: #ffff;
}

.navbar_brand{
    width: 100px;
}

.navbar_logo{
    width: 100%;
}

.nav_item{                                              /* Order Button */
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );

    color: #ffff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.nav_item:hover{
    border: 2px solid #dd2476;
}

.hero_image_container{
    width: 100%;
}

.hero_image{
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 25px 50px -5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.hero_text{
    font-size: 30px;
    margin: 20px 0px;
}

.explore_menu_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.food_card{
    background-color: white;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food_card_image_container{
    width: 100%;
}

.food_image{
    width: 100%;
    border-radius: 8px 8px 0px 0px;                         /* border-radius: top right bottom left */
}

.food_card_description{
    padding: 15px;
}

/* Flexxxx */

.restaurant_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.restaurant_images_container{
    width: 100%;
}

.restaurant_images_row_one, .restaurant_images_row_two{
    width: 100%;
    display: flex;
    gap: 5px;
}

.restaurant_images_row_one{
    align-items: baseline;                  /* Align items in base */
    margin-bottom: 3px;
}

.restaurant_images_1, .restaurant_images_4{
    width: 100%;
    height: 120px;
}
.restaurant_images_2, .restaurant_images_3{
    width: 120%;
    height: 200px;
}

.restaurant_1, .restaurant_2, .restaurant_3, .restaurant_4{
    width: 100%;
    height: 100%;
}

.form_container{
    width: 100%;
    text-align: center;
}
.form_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}
input{
    width: 50%;
    padding: 5px;
}
.submit_button{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );

    color: #ffff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.image_quote{
    width: 100%;
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: center;
}
.bg_img{
    width: 100%;
    
}
.empty_restaurant{
    width: 100%;
    height: 250px;
    border-radius: 6px;
    filter: blur(4px);
    position: absolute;
    z-index: -3;
}
.quote{
    width: 100%;
    color: white;
    position: absolute;
    margin:80px;
    text-align: center;
}

.footer_img{
    filter: brightness(0) invert(1);
}

footer{
    width: 100%;
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
    color: #ebf2ff;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 1rem 1rem 0 0;
}


@media (min-width: 765px) {                         /* Media query for tab */
    
    .navbar{
        height: 80px;
        justify-content: space-between;
        padding: 0px 30px;
    }
    .hero_container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .explore_menu_lists{
        display: flex;
        gap: 15px;
        margin-top: 40px;
    }
    #pizza{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .explore_menu_view_more{
        display: flex;
        justify-content: center;
    }
    .explore_menu_lists{
        gap: 40px;
        padding: 0 30px;
    }
    .explore_menu_content{
        position: relative;
    }
    .explore_menu_gradient_bg{
        position: absolute;                         /* Parent is explore_menu_content */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
        );

        transform: skewY(-3deg);                    /* Makes the parallelogram */
        z-index: -3;                                /* negetive z-index puts it behind the card */
    }
    .restaurant_container{
        display: flex;
        align-items: center;
    }
    .restaurant_text{
        width: 100%;
        font-size: 40px;
    }
    input{
        width: 25%;
        padding: 5px;
    }
    .submit_button{
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
        );
    
        color: #ffff;
        border: none;
        padding: 10px 25px 10px 25px;
        border-radius: 4px;
        cursor: pointer;
    }

    .quote{
        width: 100%;
        color: white;
        position: absolute;
        margin:120px;
        text-align: center;
    }

    ul{
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margins */
      }

    footer{
        width: 100%;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
        );
        color: #ebf2ff;
        margin-top: 20rem 0 auto;
        margin-right: 0%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly;
    }
}

@media (min-width: 1020px){                         /* Media query for laptop screen */
    .container{
        max-width: 1200px;
    }
    .navbar_brand{
        width: 150px;
    }
    .button_primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero_description{
        width: 100%;
    }
    .hero_text{
        font-size: 35px;
    }
    .explore_menu_text{
        font-size: 50px;
    }
}
